 :root {

   /*
  =============== 
  Variables
  ===============
  */

   /* primary/main color */

   --clr-white: #ffffff;
   --clr-black: #000000;
   --clr-gold: #FFD700;
   --clr-red: #FF0000;
   --clr-blue: #306EFF;
   --clr-orange: #FFA500;
   --clr-green: #33cc33;
   --clr-gray: #808080;
   --clr-light-gray: #e2e2e2;
   --max-width: 1170px;

   --mainTransition: all 0.3s linear;
 }


 /*
=============== 
Global Styles
===============
*/

 *,
 ::after,
 ::before {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 body {
   font-family: 'Roboto', 'Open Sans', 'Helvetica Neue', sans-serif;
   font-size: 0.875rem;
 }

 h1 {
   font-size: 2.5rem;
 }

 h2 {
   font-size: 2rem;
 }

 h3 {
   font-size: 1.25rem;
 }

 h4 {
   font-size: 0.875rem;
 }


 @media screen and (min-width: 800px) {
   h1 {
     font-size: 3rem;
   }

   h2 {
     font-size: 2.5rem;
   }

   h3 {
     font-size: 1.75rem;
   }

   h4 {
     font-size: 1rem;
   }

   body {
     font-size: 1rem;
   }

   h1,
   h2,
   h3,
   h4 {
     line-height: 1;
   }
 }


 .container {
   text-align: center;
   max-width: 1200px;
   margin: 0 auto;
   padding: 2em;
 }


 .section {
   width: 90vw;
   margin: 0 auto;
   max-width: var(--max-width);
 }

 @media screen and (min-width: 992px) {
   .section {
     width: 95vw;
   }
 }