.btn {
    border-radius: 10px;
    padding: 0.4em 0.8em;
    width: 100%;
    font-size: 0.9rem;
    cursor: pointer;
    background-color: var(--clr-blue);
    color: var(--clr-white);
    border: 1px solid black;
    font-weight: bold;
}

.btn:hover {
    background: var(--clr-green);
}

.btn--disabled {
    background-color: var(--clr-gray);
    cursor: auto;
}

.btn--disabled:hover {
    background-color: var(--clr-gray);
}